---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getTranslations } from "../scripts/i18n.js";

const { currentLang } = Astro.props;
const t = await getTranslations(currentLang);

const enUrl = getRelativeLocaleUrl("en", "en");
const esUrl = getRelativeLocaleUrl("es", "");
---

<select onchange="window.location.href = this.value;" class="btnSelectLang">
  <option value={enUrl}>English</option>
  <option value={esUrl}>Español</option>
</select>
