---
import BaseLayout from "../../layouts/baseAstro.astro";
import NavBar from "../../components/navBar.astro";
import About from "../about.astro";
import Projects from "../projects.astro";
import Contact from "../contact.astro";
import projects from "../../data/projects.json";

import "../../styles/home.css"
---

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>

<BaseLayout title="Startseite | Izhan Lara" id="home">
  <NavBar />
  <section class="hero" id="hero">
    <div class="hero-content">
      <p class="intro">
        Hallo, ich bin <span class="highlight">Izhan</span> 👋
      </p>
      <h1>
        <span class="highlight">Fullstack</span>-Entwickler
        <span class="typing">|</span>
      </h1>
      <p class="desc">Ich verwandle Ideen in einzigartige digitale Erlebnisse.</p>
      <a href="/cv.pdf" class="btn">Lebenslauf herunterladen</a>

      <div class="socials">
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>

    <div class="hero-visual">
      <div class="avatar">
        <img src="/assets/avatar.png" alt="Izhan Lara" />
      </div>
      <div class="tech-icons">
        <img src="/assets/icons/html5.svg" alt="HTML" />
        <img src="/assets/icons/css3.svg" alt="CSS" />
        <img src="/assets/icons/js.svg" alt="JavaScript" />
        <img src="/assets/icons/react.svg" alt="React" />
        <img src="/assets/icons/python.svg" alt="Python" />
        <img src="/assets/icons/git.svg" alt="Git" />
      </div>
    </div>
  </section>

  <About />
  <Projects projects={projects.slice(0, 3)} />
  <Contact />
</BaseLayout>
