---
import "../../styles/contact.css";
---

<section class="contact" id="contact">
  <h1>Contacto</h1>
  <form class="contact-form" action="izhanlaragarcia@gmail.com" method="post">
    <input type="text" placeholder="Tu nombre" required />
    <input type="email" placeholder="Tu email" required />
    <textarea placeholder="Tu mensaje..." required></textarea>
    <button type="submit" class="btn">Send</button>
  </form>
</section>
