---
const { title = "Izhan Lara | Portfolio" } = Astro.props;
import "../styles/globals.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" href="../../public/favicon.ico" />
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
  </head>
  <body>
    <main>
      <slot />
    </main>
    </body>
</html>
